.home-background {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(198, 226, 226, 0.6), rgba(198, 226, 226, 0.6)), url('../../../assets/images/home.jpg');
  min-height: 750px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  background-size: 100% 100%;
}

.hero-text {
  text-align: center;
  font-size: 200%;
  padding: 75px;
}

.hero-text > h1 {
  margin: 0;
}

.file-selection-section {
  text-align: center;
  align-items: center;
}

.file-input {
  display: none;
}

.file-input-label {
  text-align: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 25px;
  width: 200px;
  background-color: black;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

.file-input-label:hover {
  background-color: #292929;
  font-weight: bolder;
}

.file-name {
  padding-top: 25px;
}

.templates {
  border: 2px dashed gray;
  margin-left: calc(50vw - 450px);
  margin-right: calc(50vw - 450px);
  margin-bottom: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 25px;
}

.template-download {
  border: 1px solid black;
  margin: 50px;
  padding: 25px;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(rgba(198, 226, 226, 0.6), rgba(198, 226, 226, 0.6));
}

.link-btn {
  background: none;
  border: none;
  text-decoration: underline;
}

.link-btn:hover {
  color: blue;
  cursor: pointer;
}

.message {
  width: 100%;
  padding: 25px;
  text-align: center;
}

.err-msg {
  color: red;
}

.upload-btn {
  text-align: center;
  padding: 25px;
}

/* .btn {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn:hover {
  background-color: #292929;
  font-weight: bolder;
} */
