body {
  margin: 0;
  font-family: "Clarkson",Helvetica,sans-serif;
  background-color: rgba(198, 226, 226, 0.2)
}

/* Main Menu */
#main-menu {
  background-color: black;
  border: 10px solid black;
  display: flex;
}

/* Menu List */
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 100px;
}

/* Menu item */
.menu-item > a {
  color: white;
  font-size: larger;
  text-decoration: none;
}

/* Menu item mouse hover */
.menu-item > a:hover {
  color: lightblue;
}

.logo > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
